body {
    background-color: #f8e8e8; 
    color: #453836; 
    font-family: 'Playfair Display', serif; 
}

h1 {
    font-size: 2.5em;
    color: #453836; 
    font-family: 'Dancing Script', cursive; 
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px; 
}

#countdown {
    color: #453836;
    margin-top: 20px;
    font-size: 2em;
}

span {
    color: #453836; 
    background-color: #fff4f4; 
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f1c0d1; 
}

a, button {
    background-color: #f1c0d1; 
    color: #453836;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

a:hover, button:hover {
    background-color: #e5b2c0;
}