body {
    background-image: url('TTPD.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    font-family: 'Playfair Display', serif; 
}

h1 {
    font-size: 3em; 
    margin-bottom: 50px; 
    text-shadow: 2px 2px 4px #000; 
}

#countdown {
    font-size: 2em; 
    text-shadow: 2px 2px 4px #000; 
}

span {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 15px;
    border-radius: 5px;
}
